<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
    http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <display-name>Pepper</display-name>
  <description>
    This is a demo web application with a RESTful service using Apache CXF.
  </description>

  <servlet>
    <servlet-name>PepperCxfNonSpringServlet</servlet-name>
    <servlet-class>
      com.pharmpress.pepper.jaxrs.jaxrs.servlets.PepperCxfJaxrsServlet
    </servlet-class>
    <init-param>
      <param-name>jaxrs.serviceClasses</param-name>
      <param-value>
        com.pharmpress.pepper.jaxrs.jaxrs.services.PepperCxfJaxrsService
      </param-value>
    </init-param>
    <init-param>
      <param-name>jaxrs.extensions</param-name>
      <param-value>
        xml=application/xml
        json=application/json
      </param-value>
    </init-param>
    <init-param>
      <param-name>jaxrs.providers</param-name>
      <param-value>
        org.apache.cxf.jaxrs.provider.json.JSONProvider
      </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>PepperCxfNonSpringServlet</servlet-name>
    <url-pattern>/jaxrs/*</url-pattern>
  </servlet-mapping>

</web-app>
